<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/dokatec/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="dokatec" />
      <add key="ClearTextPassword" value="%GH_TOKEN%" />
    </GitHub>
  </packageSourceCredentials>
</configuration>