name: CD - Deploy to Docker Hub

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        # IMPORTANTE: Permissão para ler pacotes do GitHub
        permissions:
            contents: read
            packages: read

        steps:
            - name: Checkout do Código
              uses: actions/checkout@v4

            - name: Login no Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  # Injeta o token automático do GitHub para o Docker usar no 'dotnet restore'
                  build-args: |
                      GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/fcg-users-api:latest
