name: CI - FIAP Cloud Games

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read # Essencial para ler o FCG.Shared

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
          # Define a fonte para o setup-dotnet configurar o arquivo de credenciais
          source-url: https://nuget.pkg.github.com/dokatec/index.json
        env:
          # Injeta o token aqui para o Setup configurar o ambiente
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Restore dependencies
        # Injeta o token novamente aqui para garantir que o processo 'dotnet' o veja
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: dotnet test --no-build -c Release --verbosity normal
