name: CI - FIAP Cloud Games

on:
    push:
        branches: [main, develop]
    pull_request:
        branches: [main]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup .NET 9
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "9.0.x"

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore -c Release

            - name: Test
              run: dotnet test --no-build -c Release --verbosity normal
